<div class="footer bg-primary">
	
	<div class="container row">
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6" align="center">
					<div>
		              <h5 style="color: white; margin-top: 80px; font-size: 20px; font-weight: bold;">We are here to help you</h5><br>
		            </div>
		            <div>
		              <form action="#">
		                <div class="form-group">
		                  <input type="text"  class="form-control bg-primary b-2 textcol" placeholder="Name*" id="Name" ng-model="Name">
		                </div>
		                <div class="form-group">
		                  <input type="email" class="form-control bg-primary textcol" placeholder="email*" ng-model="email" id="email">
		                </div>
		                <div class="form-group">
		                  <input type="text"  class="form-control bg-primary textcol" placeholder="Subject" id="subject" ng-model="subject">
		                </div>
		                <div class="form-group">
		                  <textarea class="form-control bg-primary textcol" placeholder="Message" rows="3" id="Message...." ng-model="Message"></textarea>
		                </div>
		                <button type="submit" class="btn btn-light">Submit</button>
		              </form>
		            </div>
				</div>
				<div class="col-sm-3"></div>
			</div>
		</div>
		<div class="col-sm-3">
			<h4 class="ml-5" style="color: white; margin-top: 80px;"> About</h4>
		      <div class="mt-3 ml-5">
		        <h6><a href="" style="color: white;">Contact</a></h6> 
		      </div>
		      <div class="ml-5">
		        <h6><a href="" style="color: white;">Global Community</a></h6>  
		      </div>
		      <div class="ml-5">
		        <h6><a href="" style="color: white;">Short Term Saving</a></h6> 
		      </div>
		      <div class="ml-5">
		        <h6><a href="" style="color: white;">Long Term Saving</a></h6>  
		      </div>
		      <div class="ml-5">
		        <h6><a href="" style="color: white;">For Student</a></h6> 
		      </div>
		</div>
		<div class="col-sm-3">
			<h4 class="ml-5" style="color: white; margin-top: 80px;"> Service</h4>
		      <div class="mt-3 ml-5">
		        <h6><a href="" style="color: white;">Financial Consultancy</a></h6> 
		      </div>
		      <div class="mt-3 ml-5">
		        <h6><a href="" style="color: white;">Funding</a></h6> 
		      </div>
		      <div class="mt-3 ml-5">
		        <h6><a href="" style="color: white;">Investment Management</a></h6> 
		      </div>
		      <div class="mt-3 ml-5">
		        <h6><a href="" style="color: white;">New Users</a></h6> 
		      </div>
		      <div class="mt-3 ml-5">
		        <h6><a href="" style="color: white;">FAQs</a></h6>  
		      </div>
		      <div class="mt-3 ml-5">
		        <h6><a href="" style="color: white;">Advertise</a></h6> 
		      </div>
		      	<a class="fb-ic ml-5">
	                <i class="fa fa-facebook white-text mr-lg-4 cola" > </i>
	            </a>
	            <!--Twitter-->
	            <a class="tw-ic">
	                <i class="fa fa-twitter white-text mr-lg-4 cola"> </i>
	            </a>
	            <!--Google +-->
	            <a class="gplus-ic">
	                <i class="fa fa-google-plus white-text mr-lg-4 cola"> </i>
	            </a>
	            <!--Instagram-->
	            <a class="ins-ic">
	                <i class="fa fa-instagram white-text mr-lg-4 cola"> </i>
	            </a>
		</div>
	</div>

	<div class="text-center cola">
        <p>
          &copy; Copyrights <strong>Smart Investment.....</strong>.
        </p>
        <a href="index.php" class="go-top">
          <i class="fa fa-angle-up"></i>
        </a>
    </div>
</div>

</body>

</html>